<% provide(:title, @user.handle) %>

<div class="user-table">
  <aside class="col-md-4">
    <table>
      <tr>
        <td>Nickname:</td>
        <td><%= @user.handle %></td>
      </tr>
      <tr>
        <td>Name:</td>
        <td><%=@user.name %></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><%=@user.email %></td>
      </tr>
    </table>
  </aside>
</div>

<div class="col-md-8">
  <div class="review-count">
    <% if @user.reviews.any? %>
      <h3>
        You have written <%= pluralize(@user.reviews.count, "review") %>
      </h3>
    </div>
    <ul class="reviews">
      <%= render @reviews %>
    </ul>
    <%= will_paginate @reviews %>
  <% end %>
</div>
