<p id="notice"><%= notice %></p>

<h1>Listing Buildings</h1>

<table>
  <thead>
    <tr>
      <th>Street address</th>
      <th>Street address 2</th>
      <th>Street address3</th>
      <th>City</th>
      <th>State</th>
      <th>Postal code</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buildings.each do |building| %>
      <tr>
        <td><%= building.street_address %></td>
        <td><%= building.street_address_2 %></td>
        <td><%= building.street_address3 %></td>
        <td><%= building.city %></td>
        <td><%= building.state %></td>
        <td><%= building.postal_code %></td>
        <td><%= building.country %></td>
        <td><%= link_to 'Show', building %></td>
        <td><%= link_to 'Edit', edit_building_path(building) %></td>
        <td><%= link_to 'Destroy', building, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Building', new_building_path %>
