<p id="notice"><%= notice %></p>

<div class="row">
  <aside class="col-md-4">
    <%= render @building %>
  </aside>

  <div class="col-md-8">
    <% if @building.reviews.any? %>
      <div class="review-count"
        <h3>
          <%= @building.reviews.count %>
          &nbsp;
          Reviews for this building
        </h3>
      </div>

      <ul class="reviews">
        <%= render @reviews %>
      </ul>
      <%= will_paginate @reviews %>
    <% end %>
  </div>

</div>

  <%= link_to '< Back', buildings_path, class: "btn btn-default" %>

  <% if !current_user.nil? && current_user.admin? %>
    <%= link_to 'Edit', edit_building_path(@building),
              class: "btn btn-default" %>
  <% end %>
