<p id="notice"><%= notice %></p>

<div class="row">
  <aside class="col-md-4">
    <section class="buildingInfo">
      <table>
        <tr>
          <td><strong>Address:</strong></td>
          <td>
            <%= @building.building_number %>
            <%= @building.street_name %>
          </td>
        </tr>
        <tr>
          <td><strong></strong></td>
          <td><%= @building.street_address_2 %></td>
        </tr>
        <tr>
          <td><strong>City:</strong></td>
          <td><%= @building.city %></td>
        </tr>
        <tr>
          <td><strong>State:</strong></td>
          <td><%= @building.state %></td>
        </tr>
        <tr>
          <td><strong>Postal code:</strong></td>
          <td><%= @building.postal_code %></td>
        </tr>
        <tr>
          <td><strong>Country:</strong></td>
          <td><%= @building.country %></td>
        </tr>
      </table>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @building.reviews.any? %>
      <h3>
        <%= @building.reviews.count %>
        &nbsp;
        Reviews for this building
      </h3>
      <ul class="reviews">
        <%= render @reviews %>
      </ul>
      <%= will_paginate @reviews %>
    <% end %>
  </div>
</div>

  <%= link_to '< Back', buildings_path, class: "btn btn-default" %>

  <% if !current_user.nil? && current_user.admin? %>
    <%= link_to 'Edit', edit_building_path(@building),
              class: "btn btn-default" %>
  <% end %>
