<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
  <!-- OPTIMIZE: Move this into a partial drive by parameters -->
    <div id="error_explanation">
      <h2>
      <%= pluralize(@review.errors.count, "error") %>
      prohibited this review from being saved:
      </h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :headline %><br>
    <%= f.text_field :headline %>
  </div>

  <%# TODO: Add JS to show stars based on rating %>
  <%# TODO: Add Cancel button %>
  <%# TODO: Tidy up ratings display %>
  <%# FIXME: Show current values in drop down%>

  <div class="daterange">
    <%= select_month(14, prompt: 'Start Month',
                         field_name: 'from_month',
                         default: 0) %>
    <%= select_year(14, prompt: 'Start Year',
                        start_year: 1990,
                        end_year: Time.now.year,
                        field_name: 'from_year',
                        default: 0) %>
    <%= select_month(14, prompt: 'End Month',
                         field_name: 'to_month',
                         default: 0) %>
    <%= select_year(14, prompt: 'Start Year',
                        start_year: 1990,
                        end_year: Time.now.year,
                        field_name: 'to_year',
                        default: 0) %>
  </div>

  <% ratings = ['',1,2,3,4,5] %>
  <div class="field">
    <%= f.label :overall_rating %>
    <%= f.select :overall_rating, ratings %>
  </div>
  <div class="field">
    <%= f.label :location_rating %>
    <%= f.select :location_rating, ratings %>
  </div>
  <div class="field">
    <%= f.label :value_rating %>
    <%= f.select :value_rating, ratings %>
  </div>
  <div class="field">
    <%= f.label :facilities_rating %>
    <%= f.select :facilities_rating, ratings %>
  </div>
  <div class="field">
    <%= f.label :cleanliness_rating %>
    <%= f.select :cleanliness_rating, ratings %>
  </div>
  <div class="field">
    <%= f.label :details %><br>
    <%= f.text_area :details, size: "60x5" %>
  </div>
  <div class="btn">
    <%= f.submit class: "btn btn-primary" %>
  </div>
  <input name="subject_id" type="hidden" value=<%= @building.id %>>
<% end %>
