
<% provide(:title, "Review") %>
<div class="row">
  <aside class="col-md-4">
    <%= render @building %>
  </aside>

  <div class="col-md-8">
    <h3> <%= @review.headline %> </h3>
    <p> Author:<%= @author.handle %> </p>
    <%= render 'rating_table' %>
    </br>
    <p><%= @review.details %></p>
    <%= render 'review_date' %>
    <% if current_user.id == @review.author_id %>
      <%= link_to 'Edit', edit_review_path(@review),
                class: "btn btn-default" %>
    <% end %>
  </div>

</div>

<% #TODO: Add Back button %>

<% #TODO: Add Delete button %>
