<header class="navbar navbar-fixed-right navbar-inverse">
  <div class="container">
    <%= link_to RentFeedback::Application::APP_NAME,root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Home",     root_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Profile",current_user %></li>
        <% end %>
        <li><%= link_to "Rentals",  buildings_path %></li>
        <li><%= link_to "About",    about_path %></li>
        <li><%= link_to "Contact",  contact_path %></li>
        <li><%= link_to "Help",     help_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if !user_signed_in? %>
          <li>  <%= link_to   "Log In",
                              new_user_session_path,
                              class: "btn btn-primary" %>
          </li>
        <% else %>
          <li><%= link_to "Logout", destroy_user_session_path,
                                    method: "delete",
                                    class: "btn btn-primary" %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
